/* Write all your custom CSS below this line  */


body {
    margin: 0;
	 background-color: white;
	text-align: center
	
}
body {text-align: center;}

h3 {
	font-family:'Open Sans', sans-serif;
	font-weight: bold;
	 font-size: 2em;
 	 color: white;  
	background: grey;
		margin-bottom: 2em
	
}


section {
	background: grey;
	margin-bottom: 2em;	

	color: wheat;
	text-decoration: none;

	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);

	padding: 1.4em;

	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;

	font-size: 95%;
}

nav {
  background-color: #45bcd2;
  height: 30px;
  margin-bottom: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-top: 5px;
}

nav li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}

nav li a {
  color: white;
}

header {
    background: green;
  	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
	color: aliceblue
}
h1 {font-family: "Audiowide", sans-serif;}
