#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

button {
	padding:5px 15px; 
	background:#5ba545; 
	border:0 none;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;